#points > button {
    position: absolute;
    width: 1rem;
    aspect-ratio: 1;
    border-radius: 50%;
    cursor: pointer;
    border-width: 0.2rem;
    border-color: black;
}

#points {
    position: absolute;
    width: 100%;
    height: 100%;
}

#imageContainer {
    position: relative;
    margin-top: -50px;
    width: 90rem;
    height: 60rem;
}

#imageContainer img {
    width: 100%;
    height: auto;
    position: absolute;
}

#header {
    text-align: center;
}

.correct {
    background-color: #14bb14;
    pointer-events: none;
}

.hint {
    background-color: rebeccapurple;
}

.orange {
    background-color: orange;
    pointer-events: none;
}

.red {
    background-color: red;
    pointer-events: none;
}

#content {
    background-color: gray;
    height: 100vh;
}

body {
    margin: 0px;
    padding: 0px;
    padding-top: 0px;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#row {
    display: flex;
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: center;
}

#score, #clock {
    width: 10rem;
}

#startButton {
    width: 10rem;
    height: 5rem;
    cursor: pointer;
    z-index: 100;
}